{
  "useTabs": false,
  "singleQuote": false,
  "svelteAllowShorthand": true,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "svelteSortOrder": "scripts-styles-markup",
  "endOfLine": "lf",
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 120
}
